<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuuvO30zo37arjZWzioL5OyGTrUFrpK3s</string>
	<key>GCM_SENDER_ID</key>
	<string>819590869536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rudra.mynotes</string>
	<key>PROJECT_ID</key>
	<string>registration-page-rudra</string>
	<key>STORAGE_BUCKET</key>
	<string>registration-page-rudra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819590869536:ios:ae62319a4b464b453f8245</string>
</dict>
</plist>